{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="d-flex justify-content-center align-items-center">
         <div class="px-5 py-4">
                <h1 class="py-2 text-primary">
                  <b>Buy The Best Quality Car's With us</b>
                     
                </h1>
                <p class="pb-2 text-dark">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. In earum necessitatibus excepturi sint minima? Deleniti minus laudantium excepturi, suscipit quae asperiores quisquam, harum eveniet voluptatibus ex sequi quis impedit similique.
                </p>
                
                <div class="d-flex ">
                      <button class="btn btn-primary mx-3">Book Your Car</button>
                      <button class="btn btn-outline-primary">Sell Your Car</button>
                </div>
         </div>

         <div class="px-5 py-3">
               <img src="{% static 'hero.png' %}" width="100%" alt="">
         </div>
    </div>





  <div class="container">
        
             <div class="my-5 text-center">
               {% for brand_name in brand %}
                 <button class="btn btn-primary btn-sm">
                   <a href="{% url 'car_brand' brand_name.slug %}" class="text-white">{{brand_name.name}}</a>
                 </button>
               {% endfor %}
             </div>
             
             <div class="row">
                    <h3 class="my-3">Total Car Found: {{car|length}}</h3>
                    {% for i in car %}
                    <div class="col-3 mb-4">
                      <div class="card" style="width:100%;">
                        <img src="{{i.image.url}}" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.name}}</h5>
                          <h5 class="card-title text-primary">${{i.price}}</h5>
                           <p><b>{{i.brand.name}}</b></p>
                          <p class="card-text">{{i.details |truncatewords:19 }}</p>
                          <a href="{% url 'details_car' i.id %}" class="btn btn-primary">view Details</a>
                        </div>
                      </div>
                  </div>
                     {% endfor %}
             </div>
  </div>


{% endblock %}